doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css', type='text/css', rel='stylesheet')
    script(type='text/x-mathjax-config').
        MathJax.Hub.Config({
            extensions: ["tex2jax.js","[Contrib]/siunitx/siunitx.js"],
            jax: ["input/TeX","output/HTML-CSS"],
            TeX: {extensions: ["AMSmath.js","AMSsymbols.js", "sinuitx.js"]},
            tex2jax: {inlineMath: [['$','$'], ['\\\(','\\)']]}
        });

    script(type='text/javascript', async='', src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML')
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Lora:400,700', rel='stylesheet')

    title= _path
    != css()

  body
    block content

    != js()
